In [11]:
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt

from ipfn import *

In [12]:
def preprocess(data):
    """
    Drop irrelevant columns and combine categories to match the suggested demographics.

    Suggested Demographics
    ----------------------
    Party: Democratic, Independent, Republican
    Gender: Male, Female
    Age: 18-24, 25-34, 35-44, 45-54, >54
    Race: White, Black, Hispanic, Other Race
    Education: No Bachelor, Bachelors
    """
    index = data.copy()
    index.drop(['Country'], axis=1, inplace=True)
    
    #Remove rows where the respondent is in the 14-17 age range
    
    index = index[index.loc[:, 'Age'] != '14 - 17']
    
    #Combine the hispanic and latino categories
    
    index['Race'] = index['Race'].str.replace('latino', 'hispanic')
    
    #Combine other races into the "other" category
        
    races = ['white', 'black', 'hispanic', 'other']
    index.loc[~index['Race'].isin(races), 'Race'] = 'other'
    
    #Seperate education levels into "bachelors" and "no bachelors"
    
    bachelors = ['university', 'postgraduate']
    no_bachelors = ['high_school', 'other', 'vocational_technical_college', 'middle_school']

    index.loc[index['Education'].isin(bachelors), 'Education'] = 'bachelors'
    index.loc[index['Education'].isin(no_bachelors), 'Education'] = 'no bachelors'
    
    #Combine political affiliations to compensate for respondents who claim to be independent but aren't
    
    republican = ['Strong Republican', 'Weak Republican', 'Lean Republican/Independent']
    democrat = ['Strong Democrat', 'Weak Democrat', 'Lean Democrat/Independent']
    
    index.loc[index['What is your political party affiliation?'].isin(republican), 
              'What is your political party affiliation?'] = 'Republican'
    index.loc[index['What is your political party affiliation?'].isin(democrat),
              'What is your political party affiliation?'] = 'Democrat'
    
    return index

def filter(data, party=None, gender=None, age=None, race=None, education=None):
    """
    Filter a survey dataframe based on demographics, ignoring columns that have been dropped.
    """
    results = data
    
    for index, col in enumerate(data.columns):
        if col == 'What is your political party affiliation?':
            party_col = index
        elif col == 'Gender':
            gender_col = index
        elif col == 'Age':
            age_col = index
        elif col == 'Race':
            race_col = index
        elif col == 'Education':
            edu_col = index
    
    if party != None and 'What is your political party affiliation?' in data.columns:
        results = results[results.iloc[:, party_col].str.find(party) > -1]
        
    if gender != None and 'Gender' in data.columns:
        results = results[results.iloc[:, gender_col].str.startswith(gender)]
        
    if age != None and 'Age' in data.columns:
        results = results[results.iloc[:, age_col].str.startswith(age)]
        
    if race != None and 'Race' in data.columns:
        results = results[results.iloc[:, race_col].str.startswith(race)]
        
    if education !=None and 'Education' in data.columns:
        results = results[results.iloc[:, edu_col].str.contains(education)]
        
    return results

In [13]:
#Load the survey data

index1 = preprocess(pd.read_excel('data/RawData/IN10001.xls'))
index4 = preprocess(pd.read_excel('data/RawData/IN10004.xls'))
index5 = preprocess(pd.read_excel('data/RawData/IN10005.xls'))
index6 = preprocess(pd.read_excel('data/RawData/IN10006.xls'))
index7 = preprocess(pd.read_excel('data/RawData/IN10007.xls'))

#Create a new dataframe that only contains the demographic information that's included in each survey

common_columns = list(set(index1.columns).intersection(set(index7.columns)))

common_data = pd.concat([index1[common_columns],
                         index4[common_columns],
                         index5[common_columns],
                         index6[common_columns],
                         index7[common_columns]
                        ])

#Drop the columns that don't contain demographic information

common_data.drop(['ID', 'ADID IDFA', 'Time Started', 'Time Finished'], axis=1, inplace=True)

In [14]:
"""
Raking using the ipfn library requires the following steps demonstrated below:

1. The survey data must be grouped by the variables of interest to obtain the sample marginal frequencies.
2. The resulting marginal frequency column must be named "total" or ipfn will raise an error.
3. Marginal frequencies for each individual variable should be saved as a pandas series.
4. Joint frequencies for pairs of variables should be saved as a pandas series
5. Create a list of the pandas series that contain all of the joint and marginal frequencies.
6. Create a list of lists, with each list containing the dataframe column names corresponding to a joint/marginal frequency.
"""

#Group each survey by gender, race, and age range to obtain the sample marginal frequencies

freqs = pd.DataFrame(index1.groupby(['Gender', 'Race', 'Age', 'Education']).size())
freqs = freqs.reset_index()
freqs.columns = ['Gender', 'Race', 'Age', 'Education', 'total']
freqs

    Gender      Race      Age     Education  total
0   female     black  18 - 24  no bachelors      2
1   female     black  25 - 34     bachelors      1
2   female     black  25 - 34  no bachelors      3
3   female     black  35 - 44     bachelors      1
4   female     black  35 - 44  no bachelors      1
5   female  hispanic  18 - 24     bachelors      2
6   female  hispanic  18 - 24  no bachelors     12
7   female  hispanic  25 - 34     bachelors      5
8   female  hispanic  25 - 34  no bachelors      8
9   female  hispanic  35 - 44     bachelors      2
10  female  hispanic  35 - 44  no bachelors      8
11  female  hispanic     > 54  no bachelors      3
12  female     other  18 - 24     bachelors      2
13  female     other  18 - 24  no bachelors      2
14  female     other  25 - 34     bachelors      2
15  female     other  25 - 34  no bachelors      2
16  female     other  35 - 44     bachelors      1
17  female     other  35 - 44  no bachelors      1
18  female     other  45 - 54     bachelors      3
19  female     other  45 - 54  no bachelors      1
20  female     other     > 54     bachelors      4
21  female     other     > 54  no bachelors      2
22  female     white  18 - 24     bachelors      5
23  female     white  18 - 24  no bachelors     14
24  female     white  25 - 34     bachelors      5
25  female     white  25 - 34  no bachelors     47
26  female     white  35 - 44     bachelors     10
27  female     white  35 - 44  no bachelors     27
28  female     white  45 - 54     bachelors      5
29  female     white  45 - 54  no bachelors     13
..     ...       ...      ...           ...    ...
41    male  hispanic  18 - 24     bachelors      4
42    male  hispanic  18 - 24  no bachelors     35
43    male  hispanic  25 - 34     bachelors     12
44    male  hispanic  25 - 34  no bachelors     37
45    male  hispanic  35 - 44     bachelors      6
46    male  hispanic  35 - 44  no bachelors     17
47    male  hispanic  45 - 54     bachelors      2
48    male  hispanic  45 - 54  no bachelors      8
49    male  hispanic     > 54     bachelors      2
50    male  hispanic     > 54  no bachelors      2
51    male     other  18 - 24     bachelors      6
52    male     other  18 - 24  no bachelors     17
53    male     other  25 - 34     bachelors     15
54    male     other  25 - 34  no bachelors     28
55    male     other  35 - 44     bachelors     16
56    male     other  35 - 44  no bachelors     14
57    male     other  45 - 54     bachelors      7
58    male     other  45 - 54  no bachelors      8
59    male     other     > 54     bachelors      4
60    male     other     > 54  no bachelors      7
61    male     white  18 - 24     bachelors     11
62    male     white  18 - 24  no bachelors     54
63    male     white  25 - 34     bachelors     32
64    male     white  25 - 34  no bachelors    127
65    male     white  35 - 44     bachelors     51
66    male     white  35 - 44  no bachelors    126
67    male     white  45 - 54     bachelors     41
68    male     white  45 - 54  no bachelors     85
69    male     white     > 54     bachelors     41
70    male     white     > 54  no bachelors     60

[71 rows x 5 columns]

In [15]:
"""
Demographic data is taken from the U.S. Census Bureau's November 2016 edition of the 
Voting and Registration Supplement to the Current Population Survey:

https://www.census.gov/data/tables/time-series/demo/voting-and-registration/p20-580.html

All numbers taken from these files are expressed in thousands.
"""

#Load the marginal age + gender data 

census_age_gender = pd.read_excel('demographics/table01.xls')
census_age_gender.loc[census_age_gender.iloc[:, 0].isnull()]

,Table with row headers in column A and column headers in rows 4 through 6.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
3,NaN,NaN,NaN,Total Citizen Population,Reported registered,NaN,Reported not registered,NaN,No response to registration 1,NaN,Reported voted,NaN,Reported did not vote,NaN,No response to voting 2,NaN,Reported registered,Reported voted
4,NaN,NaN,NaN,NaN,Number,Percent,Number,Percent,Number,Percent,Number,Percent,Number,Percent,Number,Percent,Percent,Percent
6,NaN,18 to 24 years,29320,26913,14905,55.4,6650,24.7,5358,19.9,11560,43,10171,37.8,5182,19.3,50.8,39.4
7,NaN,25 to 34 years,43794,38283,24682,64.5,7186,18.8,6415,16.8,20332,53.1,11902,31.1,6049,15.8,56.4,46.4
8,NaN,35 to 44 years,39905,34327,23948,69.8,5280,15.4,5099,14.9,20662,60.2,8780,25.6,4885,14.2,60,51.8
9,NaN,45 to 54 years,42259,38301,28001,73.1,4682,12.2,5619,14.7,25012,65.3,7829,20.4,5460,14.3,66.3,59.2
10,NaN,55 to 64 years,41540,39242,29393,74.9,4381,11.2,5468,13.9,26657,67.9,7236,18.4,5350,13.6,70.8,64.2
11,NaN,65 to 74 years,28832,27839,21908,78.7,2502,9,3429,12.3,20219,72.6,4239,15.2,3381,12.1,76,70.1
12,NaN,75 years and over,19852,19154,14759,77.1,1941,10.1,2454,12.8,13095,68.4,3703,19.3,2356,12.3,74.3,66
13,NaN,18 years,3999,3754,1606,42.8,1173,31.2,975,26,1293,34.4,1539,41,922,24.6,40.2,32.3
14,NaN,19 years,3712,3471,1813,52.2,931,26.8,727,20.9,1370,39.5,1410,40.6,691,19.9,48.8,36.9
15,NaN,20 years,4009,3712,2058,55.5,949,25.6,704,19,1606,43.3,1405,37.9,701,18.9,51.3,40.1
16,NaN,21 years,4405,3967,2247,56.6,942,23.8,778,19.6,1707,43,1544,38.9,717,18.1,51,38.8
17,NaN,22 years,4286,3891,2298,59.1,874,22.5,719,18.5,1775,45.6,1387,35.6,729,18.7,53.6,41.4
18,NaN,23 years,4401,3997,2350,58.8,922,23.1,725,18.1,1832,45.8,1461,36.5,705,17.6,53.4,41.6
19,NaN,24 years,4509,4120,2533,61.5,858,20.8,730,17.7,1977,48,1426,34.6,718,17.4,56.2,43.8
20,NaN,25 years,4581,4211,2521,59.9,905,21.5,785,18.6,2036,48.3,1424,33.8,752,17.9,55,44.4
21,NaN,26 years,4678,4145,2596,62.6,851,20.5,698,16.8,2073,50,1409,34,664,16,55.5,44.3
22,NaN,27 years,4210,3704,2272,61.3,786,21.2,646,17.4,1828,49.4,1258,34,617,16.7,54,43.4
23,NaN,28 years,4560,4000,2543,63.6,750,18.8,707,17.7,2071,51.8,1260,31.5,669,16.7,55.8,45.4
24,NaN,29 years,4419,3896,2568,65.9,775,19.9,554,14.2,2053,52.7,1335,34.3,508,13,58.1,46.5
25,NaN,30 years,4257,3709,2438,65.7,629,16.9,643,17.3,2013,54.3,1092,29.4,604,16.3,57.3,47.3
26,NaN,31 years,4196,3619,2383,65.8,622,17.2,614,17,2059,56.9,977,27,583,16.1,56.8,49.1
27,NaN,32 years,4318,3710,2407,64.9,678,18.3,624,16.8,2003,54,1141,30.8,565,15.2,55.8,46.4
28,NaN,33 years,4231,3614,2431,67.3,586,16.2,596,16.5,2064,57.1,1000,27.7,550,15.2,57.5,48.8
29,NaN,34 years,4344,3674,2522,68.6,604,16.4,548,14.9,2132,58,1007,27.4,536,14.6,58.1,49.1
30,NaN,35 years,4302,3626,2429,67,613,16.9,583,16.1,2078,57.3,1003,27.7,545,15,56.5,48.3
31,NaN,36 years,4527,3831,2632,68.7,655,17.1,543,14.2,2220,57.9,1096,28.6,515,13.4,58.1,49
32,NaN,37 years,3965,3434,2446,71.2,558,16.2,431,12.5,2089,60.8,930,27.1,415,12.1,61.7,52.7
33,NaN,38 years,3919,3353,2335,69.6,533,15.9,485,14.5,2044,61,847,25.3,462,13.8,59.6,52.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,NaN,53 years,2258,2123,1544,72.7,252,11.9,327,15.4,1378,64.9,421,19.8,324,15.3,68.4,61
193,NaN,54 years,2245,2109,1601,75.9,225,10.7,283,13.4,1427,67.7,407,19.3,275,13,71.3,63.6
194,NaN,55 years,2179,2015,1492,74,224,11.1,299,14.8,1332,66.1,392,19.5,291,14.4,68.5,61.1
195,NaN,56 years,2331,2176,1655,76.1,218,10,303,13.9,1479,68,385,17.7,312,14.3,71,63.5
196,NaN,57 years,2280,2150,1626,75.6,230,10.7,293,13.6,1488,69.2,377,17.5,286,13.3,71.3,65.3
197,NaN,58 years,2317,2192,1664,75.9,259,11.8,269,12.3,1515,69.1,410,18.7,267,12.2,71.8,65.4
198,NaN,59 years,2150,2060,1569,76.2,213,10.4,278,13.5,1467,71.2,322,15.6,271,13.1,73,68.2
199,NaN,60 years,2309,2171,1614,74.4,235,10.8,322,14.8,1453,66.9,407,18.8,311,14.3,69.9,62.9
200,NaN,61 years,2034,1930,1487,77,151,7.8,292,15.1,1365,70.7,279,14.5,286,14.8,73.1,67.1
201,NaN,62 years,2079,1980,1515,76.5,201,10.2,263,13.3,1392,70.3,338,17.1,250,12.6,72.9,66.9
202,NaN,63 years,1943,1833,1422,77.6,180,9.8,231,12.6,1318,71.9,293,16,223,12.2,73.2,67.8
203,NaN,64 years,1939,1856,1429,77,169,9.1,258,13.9,1295,69.8,306,16.5,255,13.7,73.7,66.8
204,NaN,65 years,1904,1831,1454,79.4,169,9.2,209,11.4,1325,72.3,290,15.8,217,11.8,76.3,69.6
205,NaN,66 years,1793,1721,1340,77.9,170,9.9,211,12.3,1221,71,281,16.3,218,12.7,74.7,68.1
206,NaN,67 years,1682,1609,1277,79.4,120,7.5,212,13.2,1178,73.2,222,13.8,208,13,75.9,70
207,NaN,68 years,1752,1664,1301,78.2,141,8.5,222,13.4,1184,71.1,271,16.3,209,12.6,74.2,67.6
208,NaN,69 years,1694,1645,1313,79.8,133,8.1,199,12.1,1210,73.6,250,15.2,184,11.2,77.5,71.4
209,NaN,70 years,1506,1442,1168,81,105,7.3,169,11.7,1087,75.4,186,12.9,168,11.7,77.6,72.2
210,NaN,71 years,1366,1308,990,75.7,133,10.2,185,14.2,922,70.5,198,15.1,188,14.4,72.4,67.5
211,NaN,72 years,1141,1120,881,78.6,84,7.5,155,13.9,827,73.8,137,12.2,156,14,77.2,72.5
212,NaN,73 years,1388,1350,1093,80.9,110,8.1,147,10.9,1005,74.5,202,15,143,10.6,78.7,72.4
213,NaN,74 years,1176,1132,847,74.8,126,11.2,158,14,786,69.4,198,17.5,148,13.1,72,66.8
214,NaN,75 years,1121,1078,843,78.2,119,11.1,116,10.7,768,71.3,205,19,105,9.7,75.2,68.5
215,NaN,76 years,1011,972,720,74.1,113,11.6,139,14.3,676,69.5,158,16.2,139,14.3,71.2,66.8
216,NaN,77 years,973,934,719,77,105,11.2,110,11.8,664,71.1,155,16.6,115,12.3,73.9,68.3
217,NaN,78 years,832,799,654,81.8,61,7.6,85,10.6,569,71.2,142,17.7,89,11.1,78.6,68.4
218,NaN,79 years,820,790,588,74.5,72,9.1,130,16.4,549,69.5,115,14.6,126,15.9,71.7,66.9
219,NaN,80-84 years,3332,3180,2451,77.1,342,10.7,388,12.2,2165,68.1,639,20.1,376,11.8,73.5,65
220,NaN,85 years and over,3430,3342,2415,72.3,438,13.1,489,14.6,1933,57.8,979,29.3,431,12.9,70.4,56.3
221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
#Load the race data

census_race = pd.read_excel('demographics/table04b.xls')
census_race

,Table with row headers in column A and column headers in rows 4 through 5.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,"Table 4b. Reported Voting and Registration, b...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(In thousands),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,STATE,"Sex, Race and Hispanic-Origin",Total Population,Total Citizen Population,Registered,NaN,NaN,NaN,NaN,Voted,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,Total registered,Percent registered\n(Total),Margin of Error 1,Percent registered\n(Citizen),Margin of Error 1,Total voted,Percent voted\n(Total),Margin of Error 1,Percent voted\n(Citizen),Margin of Error 1
4,US,Total,245502,224059,157596,64.2,0.3,70.3,0.3,137537,56,0.3,61.4,0.3
5,NaN,Male,118488,107554,73761,62.3,0.4,68.6,0.4,63801,53.8,0.4,59.3,0.5
6,NaN,Female,127013,116505,83835,66,0.4,72,0.4,73735,58.1,0.4,63.3,0.4
7,NaN,White alone,192129,177865,127463,66.3,0.3,71.7,0.3,111891,58.2,0.3,62.9,0.4
8,NaN,White non-Hispanic alone,157395,154450,114151,72.5,0.3,73.9,0.3,100849,64.1,0.4,65.3,0.4
9,NaN,Black alone,30608,28808,19984,65.3,1,69.4,1,17119,55.9,1.1,59.4,1.1
10,NaN,Asian alone,14881,10283,5785,38.9,1.6,56.3,1.9,5043,33.9,1.5,49,1.9
11,NaN,Hispanic (of any race),38990,26662,15267,39.2,1.2,57.3,1.5,12682,32.5,1.1,47.6,1.5
12,NaN,White alone or in combination,195716,181268,129664,66.3,0.3,71.5,0.3,113707,58.1,0.3,62.7,0.3
13,NaN,Black alone or in combination,32211,30326,20935,65,1,69,1,17875,55.5,1,58.9,1.1
14,NaN,Asian alone or in combination,15750,11118,6369,40.4,1.5,57.3,1.8,5542,35.2,1.5,49.9,1.8
15,ALABAMA,Total,3717,3651,2526,68,2.5,69.2,2.5,2095,56.4,2.7,57.4,2.7
16,NaN,Male,1761,1718,1155,65.6,3.7,67.2,3.7,944,53.6,3.9,54.9,3.9
17,NaN,Female,1955,1933,1371,70.1,3.4,70.9,3.4,1151,58.9,3.6,59.6,3.6
18,NaN,White alone,2633,2604,1772,67.3,3,68,3,1465,55.6,3.2,56.2,3.2
19,NaN,White non-Hispanic alone,2532,2526,1742,68.8,3,69,3,1441,56.9,3.2,57,3.2
20,NaN,Black alone,962,953,694,72.2,5.7,72.8,5.7,579,60.2,6.2,60.8,6.3
21,NaN,Asian alone,27,10,3,(B),(B),(B),(B),3,(B),(B),(B),(B)
22,NaN,Hispanic (of any race),117,83,32,(B),(B),(B),(B),27,(B),(B),(B),(B)
23,NaN,White alone or in combination,2673,2644,1801,67.4,3,68.1,3,1489,55.7,3.1,56.3,3.2
24,NaN,Black alone or in combination,985,976,704,71.5,5.7,72.1,5.7,587,59.6,6.2,60.2,6.2
25,NaN,Asian alone or in combination,36,19,6,(B),(B),(B),(B),6,(B),(B),(B),(B)
26,ALASKA,Total,518,502,358,69.1,2.6,71.3,2.6,308,59.4,2.8,61.3,2.8
27,NaN,Male,267,258,181,67.9,3.7,70.1,3.7,152,57,4,58.8,4
28,NaN,Female,251,243,177,70.3,3.8,72.6,3.7,156,62,4,64,4
29,NaN,White alone,346,340,261,75.5,3,76.8,3,234,67.7,3.3,68.9,3.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
551,NaN,White alone or in combination,1371,1368,880,64.2,2.8,64.3,2.8,695,50.7,2.9,50.8,2.9
552,NaN,Black alone or in combination,55,55,30,(B),(B),(B),(B),25,(B),(B),(B),(B)
553,NaN,Asian alone or in combination,14,11,8,(B),(B),(B),(B),6,(B),(B),(B),(B)
554,WISCONSIN,Total,4465,4354,3323,74.4,2.2,76.3,2.1,3068,68.7,2.3,70.5,2.3
555,NaN,Male,2193,2132,1584,72.2,3.2,74.3,3.1,1468,66.9,3.3,68.8,3.3
556,NaN,Female,2272,2222,1739,76.5,2.9,78.3,2.9,1600,70.4,3.2,72,3.2
557,NaN,White alone,4079,3998,3130,76.7,2.2,78.3,2.2,2897,71,2.4,72.5,2.3
558,NaN,White non-Hispanic alone,3792,3776,3009,79.4,2.2,79.7,2.2,2796,73.7,2.4,74,2.4
559,NaN,Black alone,205,197,101,49.3,14,51.2,14.3,92,45.1,13.9,46.8,14.2
560,NaN,Asian alone,118,95,50,(B),(B),(B),(B),45,(B),(B),(B),(B)
561,NaN,Hispanic (of any race),329,260,136,41.2,14.1,52.1,16.1,111,33.8,13.6,42.8,16
562,NaN,White alone or in combination,4129,4049,3165,76.6,2.2,78.2,2.2,2923,70.8,2.3,72.2,2.3
563,NaN,Black alone or in combination,241,233,122,50.5,12.9,52.2,13.1,104,43.4,12.8,44.8,13.1
564,NaN,Asian alone or in combination,129,106,62,48,18.4,58.3,20,57,43.8,18.3,53.3,20.3
565,WYOMING,Total,436,427,304,69.7,2.7,71.1,2.7,277,63.5,2.8,64.8,2.8
566,NaN,Male,223,218,154,69.1,3.8,70.6,3.8,139,62.4,4,63.7,4
567,NaN,Female,213,209,150,70.3,3.8,71.7,3.8,138,64.7,4,66,4
568,NaN,White alone,405,399,284,70.2,2.8,71.2,2.8,260,64.3,2.9,65.3,2.9
569,NaN,White non-Hispanic alone,374,373,270,72.2,2.8,72.3,2.8,249,66.6,3,66.8,3
570,NaN,Black alone,5,5,4,(B),(B),(B),(B),3,(B),(B),(B),(B)
571,NaN,Asian alone,6,4,3,(B),(B),(B),(B),3,(B),(B),(B),(B)
572,NaN,Hispanic (of any race),32,26,15,(B),(B),(B),(B),12,(B),(B),(B),(B)
573,NaN,White alone or in combination,409,404,289,70.5,2.8,71.6,2.8,264,64.6,2.9,65.5,2.9
574,NaN,Black alone or in combination,6,6,6,(B),(B),(B),(B),4,(B),(B),(B),(B)
575,NaN,Asian alone or in combination,7,4,3,(B),(B),(B),(B),3,(B),(B),(B),(B)
576,1 This figure added to or subtracted from the ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
577,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
578,NOTES: A dash '-' represents zero or rounds to...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
580,"Source: U.S. Census Bureau, Current Population...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
#Load the marginal race + gender data for each race

census_white = pd.read_excel('demographics/table02_3.xls')
census_black = pd.read_excel('demographics/table02_4.xls')
census_hispanic = pd.read_excel('demographics/table02_6.xls')
census_white

,Table with row headers in column A and column headers in rows 4 through 6.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,"Table 2. Reported Voting and Registration, by...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(In thousands),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Non-Hispanic White alone,NaN,Total Population,US Citizen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total Population,NaN
3,NaN,NaN,NaN,Total Citizen Population,Reported registered,NaN,Reported not registered,NaN,No response to registration 1,NaN,Reported voted,NaN,Reported did not vote,NaN,No response to voting 2,NaN,Reported registered,Reported voted
4,NaN,NaN,NaN,NaN,Number,Percent,Number,Percent,Number,Percent,Number,Percent,Number,Percent,Number,Percent,Percent,Percent
5,BOTH SEXES,Total 18 years and over,157395,154450,114151,73.9,19210,12.4,21089,13.7,100849,65.3,33310,21.6,20290,13.1,72.5,64.1
6,NaN,18 to 24 years,16008,15734,9290,59,3522,22.4,2922,18.6,7334,46.6,5560,35.3,2841,18.1,58,45.8
7,NaN,25 to 44 years,47385,46106,32474,70.4,6964,15.1,6667,14.5,27652,60,12171,26.4,6283,13.6,68.5,58.4
8,NaN,45 to 64 years,56530,55556,42552,76.6,5755,10.4,7249,13,38650,69.6,9860,17.7,7046,12.7,75.3,68.4
9,NaN,65 to 74 years,21897,21660,17607,81.3,1614,7.5,2439,11.3,16320,75.3,2935,13.5,2406,11.1,80.4,74.5
10,NaN,75 years and over,15575,15393,12228,79.4,1354,8.8,1811,11.8,10893,70.8,2784,18.1,1715,11.1,78.5,69.9
11,MALE,Total 18 years and over,76510,75068,54419,72.5,10175,13.6,10474,14,47783,63.7,17221,22.9,10064,13.4,71.1,62.5
12,NaN,18 to 24 years,8149,8021,4665,58.2,1869,23.3,1487,18.5,3591,44.8,2956,36.9,1473,18.4,57.2,44.1
13,NaN,25 to 44 years,23596,22967,15698,68.4,3802,16.6,3466,15.1,13144,57.2,6585,28.7,3238,14.1,66.5,55.7
14,NaN,45 to 64 years,27746,27208,20418,75,3200,11.8,3590,13.2,18471,67.9,5272,19.4,3464,12.7,73.6,66.6
15,NaN,65 to 74 years,10419,10319,8290,80.3,828,8,1201,11.6,7722,74.8,1423,13.8,1175,11.4,79.6,74.1
16,NaN,75 years and over,6600,6553,5347,81.6,477,7.3,730,11.1,4855,74.1,984,15,714,10.9,81,73.6
17,FEMALE,Total 18 years and over,80885,79382,59733,75.2,9035,11.4,10614,13.4,53066,66.8,16090,20.3,10226,12.9,73.8,65.6
18,NaN,18 to 24 years,7859,7713,4625,60,1653,21.4,1435,18.6,3742,48.5,2604,33.8,1367,17.7,58.9,47.6
19,NaN,25 to 44 years,23789,23140,16777,72.5,3162,13.7,3201,13.8,14509,62.7,5586,24.1,3045,13.2,70.5,61
20,NaN,45 to 64 years,28784,28348,22134,78.1,2555,9,3659,12.9,20179,71.2,4588,16.2,3582,12.6,76.9,70.1
21,NaN,65 to 74 years,11478,11341,9316,82.1,787,6.9,1238,10.9,8598,75.8,1512,13.3,1231,10.9,81.2,74.9
22,NaN,75 years and over,8975,8840,6881,77.8,878,9.9,1081,12.2,6038,68.3,1800,20.4,1002,11.3,76.7,67.3
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1 'No response to registration' includes those...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2 'No response to voting' includes those who w...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,"Source: U.S. Census Bureau, Current Population...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
#Load the marginal education + gender data for each race

census_edu_gender = pd.read_excel('demographics/table05_1.xls')
census_edu_gender

,Table with row headers in column A and column headers in rows 4 through 6.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,"Table 5. Reported Voting and Registration, by...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(In thousands),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,18 years and over,NaN,Total Population,US Citizen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total Population,NaN
3,NaN,NaN,NaN,Total Citizen Population,Reported registered,NaN,Reported not registered,NaN,No response to registration 1,NaN,Reported voted,NaN,Reported did not vote,NaN,No response to voting 2,NaN,Reported registered,Reported voted
4,NaN,NaN,NaN,NaN,Number,Percent,Number,Percent,Number,Percent,Number,Percent,Number,Percent,Number,Percent,Percent,Percent
5,Both Sexes,Total,245502,224059,157596,70.3,32622,14.6,33841,15.1,137537,61.4,53860,24,32662,14.6,64.2,56
6,NaN,Less than 9th grade,9761,5643,2389,42.3,2081,36.9,1173,20.8,1788,31.7,2732,48.4,1123,19.9,24.5,18.3
7,NaN,"9th to 12th grade, no diploma",17727,14715,6906,46.9,4862,33,2947,20,5202,35.3,6746,45.8,2767,18.8,39,29.3
8,NaN,High school graduate,71322,65518,40983,62.6,13520,20.6,11015,16.8,33774,51.5,21365,32.6,10379,15.8,57.5,47.4
9,NaN,Some college or associate degree,69935,66809,48845,73.1,8198,12.3,9766,14.6,42296,63.3,15057,22.5,9456,14.2,69.8,60.5
10,NaN,Bachelor's degree,49526,46317,37270,80.5,2974,6.4,6073,13.1,34364,74.2,5862,12.7,6091,13.2,75.3,69.4
11,NaN,Advanced degree,27231,25057,21203,84.6,986,3.9,2867,11.4,20113,80.3,2098,8.4,2845,11.4,77.9,73.9
12,MALE,Total,118488,107554,73761,68.6,17068,15.9,16724,15.5,63801,59.3,27681,25.7,16071,14.9,62.3,53.8
13,NaN,Less than 9th grade,4870,2719,1179,43.4,976,35.9,563,20.7,899,33.1,1277,47,543,20,24.2,18.5
14,NaN,"9th to 12th grade, no diploma",9263,7676,3326,43.3,2725,35.5,1626,21.2,2472,32.2,3692,48.1,1512,19.7,35.9,26.7
15,NaN,High school graduate,36156,33182,19991,60.2,7434,22.4,5756,17.3,16285,49.1,11538,34.8,5359,16.2,55.3,45
16,NaN,Some college or associate degree,31856,30348,21755,71.7,3969,13.1,4624,15.2,18629,61.4,7242,23.9,4477,14.8,68.3,58.5
17,NaN,Bachelor's degree,23288,21746,17491,80.4,1459,6.7,2796,12.9,16006,73.6,2893,13.3,2847,13.1,75.1,68.7
18,NaN,Advanced degree,13055,11883,10020,84.3,504,4.2,1359,11.4,9510,80,1040,8.7,1333,11.2,76.7,72.8
19,FEMALE,Total,127013,116505,83835,72,15553,13.3,17117,14.7,73735,63.3,26179,22.5,16591,14.2,66,58.1
20,NaN,Less than 9th grade,4891,2924,1210,41.4,1105,37.8,609,20.8,889,30.4,1455,49.8,580,19.9,24.7,18.2
21,NaN,"9th to 12th grade, no diploma",8464,7039,3580,50.9,2138,30.4,1322,18.8,2730,38.8,3054,43.4,1256,17.8,42.3,32.2
22,NaN,High school graduate,35165,32336,20992,64.9,6085,18.8,5259,16.3,17489,54.1,9828,30.4,5020,15.5,59.7,49.7
23,NaN,Some college or associate degree,38079,36461,27091,74.3,4228,11.6,5142,14.1,23666,64.9,7816,21.4,4979,13.7,71.1,62.2
24,NaN,Bachelor's degree,26238,24571,19779,80.5,1515,6.2,3277,13.3,18358,74.7,2969,12.1,3244,13.2,75.4,70
25,NaN,Advanced degree,14176,13174,11184,84.9,482,3.7,1508,11.5,10604,80.5,1058,8,1512,11.5,78.9,74.8
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1 'No response to registration' includes those...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2 'No response to voting' includes those who w...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,"Source: U.S. Census Bureau, Current Population...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
#Calculate the frequencies for gender, race, and age

gender_freq = pd.Series(data=[census_age_gender.iloc[149, 2], census_age_gender.iloc[77, 2]],
                        index=['female', 'male'])

race_freq = pd.Series(data=[census_race.iloc[8, 2],
                       census_race.iloc[4, 2] - census_race.iloc[[8, 9, 11], 2].sum(),
                       census_race.iloc[11, 2],
                       census_race.iloc[9, 2]],
                      index=['white', 'other', 'hispanic', 'black'])

age_freq = pd.Series(data=[census_age_gender.iloc[6, 2],
                       census_age_gender.iloc[7, 2],
                       census_age_gender.iloc[8, 2],
                       census_age_gender.iloc[9, 2],
                       census_age_gender.iloc[10:13, 2].sum()],
                     index=['18 - 24', '25 - 34', '35 - 44', '45 - 54', '> 54'])

edu_freq = pd.Series(data=[census_edu_gender.iloc[6:10, 2].sum(),
                           census_edu_gender.iloc[10:12, 2].sum()],
                     index=['bachelors', 'no bachelors'])

In [20]:
#Group the data by race and gender

race_gender_freq = index1.groupby(['Race', 'Gender'])['ID'].count()

#Replace each marginal frequency cell with data taken from the Census Bureau data

race_gender_freq['white'] = census_white.iloc[[11, 17], 2]
race_gender_freq['black'] = census_black.iloc[[11, 17], 2]
race_gender_freq['hispanic'] = census_hispanic.iloc[[11, 17], 2]

#Add the marginal frequencies from the white, black, and hispanic populations together

non_other_gender = census_hispanic.iloc[[11, 17], 2] + census_black.iloc[[11, 17], 2] + census_white.iloc[[11, 17], 2]
non_other_gender.index = ['female', 'male']

#Find the marginal frequencies for race "other" by subtracting the "non-other" marginal frequencies from the gender totals

race_gender_freq['other'] = gender_freq - non_other_gender

In [21]:
#Group the sample data by age and gender

age_gender_freq = index1.groupby(['Age', 'Gender'])['ID'].count()

#Replace each marginal frequency cell with data taken from the Census Bureau data

age_gender_freq.loc['18 - 24'] = [census_age_gender.iloc[150, 2], census_age_gender.iloc[78, 2]]
age_gender_freq.loc['25 - 34'] = [census_age_gender.iloc[151, 2], census_age_gender.iloc[79, 2]]
age_gender_freq.loc['35 - 44'] = [census_age_gender.iloc[152, 2], census_age_gender.iloc[80, 2]]
age_gender_freq.loc['45 - 54'] = [census_age_gender.iloc[153, 2], census_age_gender.iloc[81, 2]]

#Combine the marginal frequencies for 55-64, 65-74, and >75 to form the >54 marginal frequencies

age_gender_freq.loc['> 54'] = [census_age_gender.iloc[154:157, 2].sum(),
                    census_age_gender.iloc[82:85, 2].sum()]

In [26]:
#Group the sample data by education and gender

edu_gender_freq = index1.groupby(['Education', 'Gender'])['ID'].count()

#Combine the marginal frequencies for "Less than 9th grade" to "Some college or associate degree" to form the "no bachelors" marginal frequencies

edu_gender_freq.loc['bachelors'] = [census_edu_gender.iloc[24:26, 2].sum(), census_edu_gender.iloc[17:19, 2].sum()]

#Combine the marginal frequencies for "Bachelor's degree" and "Advanced degree" to form the "bachelors" marginal frequencies

edu_gender_freq.loc['no bachelors'] = [census_edu_gender.iloc[20:24, 2].sum(), census_edu_gender.iloc[13:17, 2].sum()]

edu_gender_freq

Education     Gender
bachelors     female    40414
              male      36343
no bachelors  female    86599
              male      82145
Name: ID, dtype: int64

In [28]:
#Create a list of the marginal/joint frequencies obtained from the census data

aggregates = [gender_freq, race_freq, age_freq, age_gender_freq, race_gender_freq, edu_gender_freq]

#Create a list of column names that correspond to the frequency tables in the previous list

dimensions = [['Gender'], ['Race'], ['Age'], ['Age', 'Gender'], ['Race', 'Gender'], ['Education', 'Gender']]

#Perform raking on the demographic data up to the specified maximum number of iterations

IPF = ipfn.ipfn(freqs, aggregates, dimensions, max_iteration=5000)
df = IPF.iteration()

df.to_csv('python_raking_race_gender_age_edu.csv', 
          columns=['Race', 'Gender', 'Education', 'Age', 'Population (in thousands)'],
          index=False)
print(df)

ipfn converged
       Education  Gender      Race      Age         total
0   no bachelors  female     black  18 - 24   3587.700581
1      bachelors  female     black  25 - 34   1600.627005
2   no bachelors  female     black  25 - 34   4424.826545
3      bachelors  female     black  35 - 44   2227.374783
4   no bachelors  female     black  35 - 44   2052.476318
5      bachelors  female  hispanic  18 - 24    716.957276
6   no bachelors  female  hispanic  18 - 24   3963.961095
7      bachelors  female  hispanic  25 - 34   1473.744123
8   no bachelors  female  hispanic  25 - 34   2172.835885
9      bachelors  female  hispanic  35 - 44    820.323657
10  no bachelors  female  hispanic  35 - 44   3023.640012
11  no bachelors  female  hispanic     > 54   7204.565805
12     bachelors  female     other  18 - 24    523.504801
13  no bachelors  female     other  18 - 24    482.398030
14     bachelors  female     other  25 - 34    430.436875
15  no bachelors  female     other  25 - 34    396.638006
16     bachelors  female     other  35 - 44    299.490212
17  no bachelors  female     other  35 - 44    275.973568
18     bachelors  female     other  45 - 54   2835.620423
19  no bachelors  female     other  45 - 54    870.987048
20     bachelors  female     other     > 54   7611.830083
21  no bachelors  female     other     > 54   3507.066053
22     bachelors  female     white  18 - 24   1459.079284
23  no bachelors  female     white  18 - 24   3764.625495
24     bachelors  female     white  25 - 34   1199.686280
25  no bachelors  female     white  25 - 34  10391.551686
26     bachelors  female     white  35 - 44   3338.880276
27  no bachelors  female     white  35 - 44   8307.100544
28     bachelors  female     white  45 - 54   5268.840590
29  no bachelors  female     white  45 - 54  12623.310453
..           ...     ...       ...      ...           ...
41     bachelors    male  hispanic  18 - 24    677.397010
42  no bachelors    male  hispanic  18 - 24   5125.626877
43     bachelors    male  hispanic  25 - 34   1784.918191
44  no bachelors    male  hispanic  25 - 34   4759.205454
45     bachelors    male  hispanic  35 - 44    851.846530
46  no bachelors    male  hispanic  35 - 44   2087.154938
47     bachelors    male  hispanic  45 - 54    452.119782
48  no bachelors    male  hispanic  45 - 54   1563.900652
49     bachelors    male  hispanic     > 54   1239.747227
50  no bachelors    male  hispanic     > 54   1072.083978
51     bachelors    male     other  18 - 24     57.009282
52  no bachelors    male     other  18 - 24    139.681504
53     bachelors    male     other  25 - 34    125.181273
54  no bachelors    male     other  25 - 34    202.069979
55     bachelors    male     other  35 - 44    127.450378
56  no bachelors    male     other  35 - 44     96.437255
57     bachelors    male     other  45 - 54     88.783567
58  no bachelors    male     other  45 - 54     87.744559
59     bachelors    male     other     > 54    139.115070
60  no bachelors    male     other     > 54    210.527041
61     bachelors    male     white  18 - 24   1099.512924
62  no bachelors    male     white  18 - 24   4667.636992
63     bachelors    male     white  25 - 34   2809.386023
64  no bachelors    male     white  25 - 34   9641.859970
65     bachelors    male     white  35 - 44   4273.706112
66  no bachelors    male     white  35 - 44   9130.628709
67     bachelors    male     white  45 - 54   5470.559422
68  no bachelors    male     white  45 - 54   9807.593760
69     bachelors    male     white     > 54  15000.694830
70  no bachelors    male     white     > 54  18983.418824

[71 rows x 5 columns]

C:\Anaconda3\envs\MSR\lib\site-packages\pandas\core\indexing.py:1367: PerformanceWarning: indexing past lexsort depth may impact performance.
  return self._getitem_tuple(key)
C:\Anaconda3\envs\MSR\lib\site-packages\ipykernel\zmqshell.py:537: PerformanceWarning: indexing past lexsort depth may impact performance.
  return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
C:\Anaconda3\envs\MSR\lib\site-packages\IPython\core\interactiveshell.py:2850: PerformanceWarning: indexing past lexsort depth may impact performance.
  if self.run_code(code, result):
C:\Anaconda3\envs\MSR\lib\site-packages\pandas\io\formats\format.py:1586: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  self.obj = self.obj.loc[:, cols]
C:\Anaconda3\envs\MSR\lib\site-packages\pandas\core\indexing.py:1367: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [29]:
crosstab = pd.crosstab(index=[df['Age'], df['Gender']], columns=df['Race'],
                       values=df['Population (in thousands)'], aggfunc='sum')
crosstab.to_csv('python_raking_crosstab.csv')