In [1]:
%matplotlib inline

from misc import *

from ipfn import *

from itertools import product

import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#Load the survey data

index1 = preprocess(pd.read_excel('data/RawData/IN10001.xls'))
index4 = preprocess(pd.read_excel('data/RawData/IN10004.xls'))
index5 = preprocess(pd.read_excel('data/RawData/IN10005.xls'))
index6 = preprocess(pd.read_excel('data/RawData/IN10006.xls'))
index7 = preprocess(pd.read_excel('data/RawData/IN10007.xls'))

#Create a new dataframe that only contains the demographic information that's included in each survey

common_columns = list(set(index1.columns).intersection(set(index7.columns)))

common_data = pd.concat([index1[common_columns],
                         index4[common_columns],
                         index5[common_columns],
                         index6[common_columns],
                         index7[common_columns]
                        ])

#Drop the columns that don't contain demographic information

common_data.drop(['ID', 'ADID IDFA', 'Time Started', 'Time Finished'], axis=1, inplace=True)

#Drop the columns where area is missing since the distributions for each demographic doesn't differ much

common_data = common_data.loc[common_data['Area'] != 'Unknown', :]

In [3]:
"""
Raking using the ipfn library requires the following steps demonstrated below:

1. The survey data must be grouped by the variables of interest to obtain the sample marginal frequencies.
2. The resulting marginal frequency column must be named "total" or ipfn will raise an error.
3. Marginal frequencies for each individual variable should be saved as a pandas series.
4. Joint frequencies for pairs of variables should be saved as a pandas series
5. Create a list of the pandas series that contain all of the joint and marginal frequencies.
6. Create a list of lists, with each list containing the dataframe column names corresponding to a joint/marginal frequency.
"""

#Group each survey by gender, race, and age range to obtain the sample marginal frequencies

freqs = pd.DataFrame(common_data.groupby(['Area', 'Gender', 'Race', 'Age', 'Education']).size())
freqs = freqs.reset_index()
freqs.columns = ['Area', 'Gender', 'Race', 'Age', 'Education', 'total']
freqs

           Area  Gender      Race      Age     Education  total
0       Alabama  female     black  25 - 34  no bachelors      3
1       Alabama  female     black  35 - 44     bachelors      1
2       Alabama  female     black  35 - 44  no bachelors      3
3       Alabama  female     black  45 - 54  no bachelors      1
4       Alabama  female     black     > 54  no bachelors      1
5       Alabama  female  hispanic  25 - 34  no bachelors      1
6       Alabama  female     other  18 - 24     bachelors      1
7       Alabama  female     white  18 - 24  no bachelors      5
8       Alabama  female     white  25 - 34  no bachelors      4
9       Alabama  female     white  35 - 44  no bachelors      5
10      Alabama  female     white  45 - 54  no bachelors      3
11      Alabama  female     white     > 54     bachelors      1
12      Alabama  female     white     > 54  no bachelors      1
13      Alabama    male     black  18 - 24     bachelors      1
14      Alabama    male     black  25 - 34  no bachelors      3
15      Alabama    male     black  35 - 44     bachelors      1
16      Alabama    male     black  35 - 44  no bachelors      2
17      Alabama    male     other  25 - 34  no bachelors      3
18      Alabama    male     other  35 - 44  no bachelors      1
19      Alabama    male     other  45 - 54  no bachelors      1
20      Alabama    male     white  18 - 24     bachelors      1
21      Alabama    male     white  18 - 24  no bachelors     12
22      Alabama    male     white  25 - 34     bachelors      6
23      Alabama    male     white  25 - 34  no bachelors     17
24      Alabama    male     white  35 - 44     bachelors      4
25      Alabama    male     white  35 - 44  no bachelors     14
26      Alabama    male     white  45 - 54     bachelors      2
27      Alabama    male     white  45 - 54  no bachelors     15
28      Alabama    male     white     > 54  no bachelors      9
29       Alaska  female     white     > 54     bachelors      1
...         ...     ...       ...      ...           ...    ...
1442  Wisconsin  female     white  35 - 44     bachelors      1
1443  Wisconsin  female     white  35 - 44  no bachelors      4
1444  Wisconsin  female     white  45 - 54     bachelors      3
1445  Wisconsin  female     white     > 54     bachelors      1
1446  Wisconsin  female     white     > 54  no bachelors      1
1447  Wisconsin    male     black  18 - 24     bachelors      2
1448  Wisconsin    male     black  18 - 24  no bachelors      1
1449  Wisconsin    male     black  25 - 34  no bachelors      1
1450  Wisconsin    male  hispanic  18 - 24  no bachelors      4
1451  Wisconsin    male  hispanic  35 - 44  no bachelors      1
1452  Wisconsin    male     other  18 - 24  no bachelors      3
1453  Wisconsin    male     other  25 - 34     bachelors      3
1454  Wisconsin    male     other  25 - 34  no bachelors      3
1455  Wisconsin    male     other     > 54  no bachelors      1
1456  Wisconsin    male     white  18 - 24     bachelors      2
1457  Wisconsin    male     white  18 - 24  no bachelors      1
1458  Wisconsin    male     white  25 - 34     bachelors      7
1459  Wisconsin    male     white  25 - 34  no bachelors      9
1460  Wisconsin    male     white  35 - 44     bachelors      3
1461  Wisconsin    male     white  35 - 44  no bachelors      4
1462  Wisconsin    male     white  45 - 54     bachelors      2
1463  Wisconsin    male     white  45 - 54  no bachelors      7
1464  Wisconsin    male     white     > 54     bachelors      4
1465  Wisconsin    male     white     > 54  no bachelors     11
1466    Wyoming  female     white  18 - 24     bachelors      1
1467    Wyoming  female     white  25 - 34     bachelors      2
1468    Wyoming  female     white  25 - 34  no bachelors      1
1469    Wyoming    male     white  18 - 24  no bachelors      1
1470    Wyoming    male     white  25 - 34  no bachelors      1
1471    Wyoming    male     white  35 - 44     bachelors      2

[1472 rows x 6 columns]

In [4]:
"""
Demographic data is taken from the U.S. Census Bureau's November 2016 edition of the 
Voting and Registration Supplement to the Current Population Survey:

https://www.census.gov/data/tables/time-series/demo/voting-and-registration/p20-580.html

All numbers taken from these files are expressed in thousands.
"""

#Load the marginal age + gender data, taken from:
#https://www2.census.gov/programs-surveys/cps/tables/p20/580/table01.xls


census_age_gender = pd.read_excel('demographics/table01.xls')
census_age_gender.loc[census_age_gender.iloc[:, 0].isnull()]

,Table with row headers in column A and column headers in rows 4 through 6.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
3,NaN,NaN,NaN,Total Citizen Population,Reported registered,NaN,Reported not registered,NaN,No response to registration 1,NaN,Reported voted,NaN,Reported did not vote,NaN,No response to voting 2,NaN,Reported registered,Reported voted
4,NaN,NaN,NaN,NaN,Number,Percent,Number,Percent,Number,Percent,Number,Percent,Number,Percent,Number,Percent,Percent,Percent
6,NaN,18 to 24 years,29320,26913,14905,55.4,6650,24.7,5358,19.9,11560,43,10171,37.8,5182,19.3,50.8,39.4
7,NaN,25 to 34 years,43794,38283,24682,64.5,7186,18.8,6415,16.8,20332,53.1,11902,31.1,6049,15.8,56.4,46.4
8,NaN,35 to 44 years,39905,34327,23948,69.8,5280,15.4,5099,14.9,20662,60.2,8780,25.6,4885,14.2,60,51.8
9,NaN,45 to 54 years,42259,38301,28001,73.1,4682,12.2,5619,14.7,25012,65.3,7829,20.4,5460,14.3,66.3,59.2
10,NaN,55 to 64 years,41540,39242,29393,74.9,4381,11.2,5468,13.9,26657,67.9,7236,18.4,5350,13.6,70.8,64.2
11,NaN,65 to 74 years,28832,27839,21908,78.7,2502,9,3429,12.3,20219,72.6,4239,15.2,3381,12.1,76,70.1
12,NaN,75 years and over,19852,19154,14759,77.1,1941,10.1,2454,12.8,13095,68.4,3703,19.3,2356,12.3,74.3,66
13,NaN,18 years,3999,3754,1606,42.8,1173,31.2,975,26,1293,34.4,1539,41,922,24.6,40.2,32.3
14,NaN,19 years,3712,3471,1813,52.2,931,26.8,727,20.9,1370,39.5,1410,40.6,691,19.9,48.8,36.9
15,NaN,20 years,4009,3712,2058,55.5,949,25.6,704,19,1606,43.3,1405,37.9,701,18.9,51.3,40.1
16,NaN,21 years,4405,3967,2247,56.6,942,23.8,778,19.6,1707,43,1544,38.9,717,18.1,51,38.8
17,NaN,22 years,4286,3891,2298,59.1,874,22.5,719,18.5,1775,45.6,1387,35.6,729,18.7,53.6,41.4
18,NaN,23 years,4401,3997,2350,58.8,922,23.1,725,18.1,1832,45.8,1461,36.5,705,17.6,53.4,41.6
19,NaN,24 years,4509,4120,2533,61.5,858,20.8,730,17.7,1977,48,1426,34.6,718,17.4,56.2,43.8
20,NaN,25 years,4581,4211,2521,59.9,905,21.5,785,18.6,2036,48.3,1424,33.8,752,17.9,55,44.4
21,NaN,26 years,4678,4145,2596,62.6,851,20.5,698,16.8,2073,50,1409,34,664,16,55.5,44.3
22,NaN,27 years,4210,3704,2272,61.3,786,21.2,646,17.4,1828,49.4,1258,34,617,16.7,54,43.4
23,NaN,28 years,4560,4000,2543,63.6,750,18.8,707,17.7,2071,51.8,1260,31.5,669,16.7,55.8,45.4
24,NaN,29 years,4419,3896,2568,65.9,775,19.9,554,14.2,2053,52.7,1335,34.3,508,13,58.1,46.5
25,NaN,30 years,4257,3709,2438,65.7,629,16.9,643,17.3,2013,54.3,1092,29.4,604,16.3,57.3,47.3
26,NaN,31 years,4196,3619,2383,65.8,622,17.2,614,17,2059,56.9,977,27,583,16.1,56.8,49.1
27,NaN,32 years,4318,3710,2407,64.9,678,18.3,624,16.8,2003,54,1141,30.8,565,15.2,55.8,46.4
28,NaN,33 years,4231,3614,2431,67.3,586,16.2,596,16.5,2064,57.1,1000,27.7,550,15.2,57.5,48.8
29,NaN,34 years,4344,3674,2522,68.6,604,16.4,548,14.9,2132,58,1007,27.4,536,14.6,58.1,49.1
30,NaN,35 years,4302,3626,2429,67,613,16.9,583,16.1,2078,57.3,1003,27.7,545,15,56.5,48.3
31,NaN,36 years,4527,3831,2632,68.7,655,17.1,543,14.2,2220,57.9,1096,28.6,515,13.4,58.1,49
32,NaN,37 years,3965,3434,2446,71.2,558,16.2,431,12.5,2089,60.8,930,27.1,415,12.1,61.7,52.7
33,NaN,38 years,3919,3353,2335,69.6,533,15.9,485,14.5,2044,61,847,25.3,462,13.8,59.6,52.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,NaN,53 years,2258,2123,1544,72.7,252,11.9,327,15.4,1378,64.9,421,19.8,324,15.3,68.4,61
193,NaN,54 years,2245,2109,1601,75.9,225,10.7,283,13.4,1427,67.7,407,19.3,275,13,71.3,63.6
194,NaN,55 years,2179,2015,1492,74,224,11.1,299,14.8,1332,66.1,392,19.5,291,14.4,68.5,61.1
195,NaN,56 years,2331,2176,1655,76.1,218,10,303,13.9,1479,68,385,17.7,312,14.3,71,63.5
196,NaN,57 years,2280,2150,1626,75.6,230,10.7,293,13.6,1488,69.2,377,17.5,286,13.3,71.3,65.3
197,NaN,58 years,2317,2192,1664,75.9,259,11.8,269,12.3,1515,69.1,410,18.7,267,12.2,71.8,65.4
198,NaN,59 years,2150,2060,1569,76.2,213,10.4,278,13.5,1467,71.2,322,15.6,271,13.1,73,68.2
199,NaN,60 years,2309,2171,1614,74.4,235,10.8,322,14.8,1453,66.9,407,18.8,311,14.3,69.9,62.9
200,NaN,61 years,2034,1930,1487,77,151,7.8,292,15.1,1365,70.7,279,14.5,286,14.8,73.1,67.1
201,NaN,62 years,2079,1980,1515,76.5,201,10.2,263,13.3,1392,70.3,338,17.1,250,12.6,72.9,66.9
202,NaN,63 years,1943,1833,1422,77.6,180,9.8,231,12.6,1318,71.9,293,16,223,12.2,73.2,67.8
203,NaN,64 years,1939,1856,1429,77,169,9.1,258,13.9,1295,69.8,306,16.5,255,13.7,73.7,66.8
204,NaN,65 years,1904,1831,1454,79.4,169,9.2,209,11.4,1325,72.3,290,15.8,217,11.8,76.3,69.6
205,NaN,66 years,1793,1721,1340,77.9,170,9.9,211,12.3,1221,71,281,16.3,218,12.7,74.7,68.1
206,NaN,67 years,1682,1609,1277,79.4,120,7.5,212,13.2,1178,73.2,222,13.8,208,13,75.9,70
207,NaN,68 years,1752,1664,1301,78.2,141,8.5,222,13.4,1184,71.1,271,16.3,209,12.6,74.2,67.6
208,NaN,69 years,1694,1645,1313,79.8,133,8.1,199,12.1,1210,73.6,250,15.2,184,11.2,77.5,71.4
209,NaN,70 years,1506,1442,1168,81,105,7.3,169,11.7,1087,75.4,186,12.9,168,11.7,77.6,72.2
210,NaN,71 years,1366,1308,990,75.7,133,10.2,185,14.2,922,70.5,198,15.1,188,14.4,72.4,67.5
211,NaN,72 years,1141,1120,881,78.6,84,7.5,155,13.9,827,73.8,137,12.2,156,14,77.2,72.5
212,NaN,73 years,1388,1350,1093,80.9,110,8.1,147,10.9,1005,74.5,202,15,143,10.6,78.7,72.4
213,NaN,74 years,1176,1132,847,74.8,126,11.2,158,14,786,69.4,198,17.5,148,13.1,72,66.8
214,NaN,75 years,1121,1078,843,78.2,119,11.1,116,10.7,768,71.3,205,19,105,9.7,75.2,68.5
215,NaN,76 years,1011,972,720,74.1,113,11.6,139,14.3,676,69.5,158,16.2,139,14.3,71.2,66.8
216,NaN,77 years,973,934,719,77,105,11.2,110,11.8,664,71.1,155,16.6,115,12.3,73.9,68.3
217,NaN,78 years,832,799,654,81.8,61,7.6,85,10.6,569,71.2,142,17.7,89,11.1,78.6,68.4
218,NaN,79 years,820,790,588,74.5,72,9.1,130,16.4,549,69.5,115,14.6,126,15.9,71.7,66.9
219,NaN,80-84 years,3332,3180,2451,77.1,342,10.7,388,12.2,2165,68.1,639,20.1,376,11.8,73.5,65
220,NaN,85 years and over,3430,3342,2415,72.3,438,13.1,489,14.6,1933,57.8,979,29.3,431,12.9,70.4,56.3
221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#Load the marginal state + race + gender data, taken from:
#https://www2.census.gov/programs-surveys/cps/tables/p20/580/table04b.xls


census_race = pd.read_excel('demographics/table04b.xls')

#Convert state names from upper case to title case (only the first letter is capitalized)

census_race.iloc[15:566, 0] = census_race.iloc[15:566, 0].str.title()

#Change "District Of Columbia" to "District of Columbia" to match the survey data

census_race.iloc[103, 0] = 'District of Columbia'

#Fill in blank rows in the state column

census_race.iloc[:, 0] = census_race.iloc[:, 0].fillna(method='ffill')


#Create a separate dataframe for marginal state + gender data

census_state_gender = census_race.copy()

#Filter out race data and irrelevant columns

census_state_gender = census_state_gender.loc[census_state_gender['Unnamed: 1'].isin(['Male', 'Female'])]
census_state_gender = census_state_gender.iloc[2:, [0, 1, 3]]

#Sort so that female counts appear first

census_state_gender.columns = ['Area', 'Gender', 'Population (in thousands)']
census_state_gender.sort_values(['Area', 'Gender'], inplace=True)
census_state_gender.iloc[:, 1] = census_state_gender.iloc[:, 1].str.lower()

#Create a separate dataframe for marginal state + race data

census_state_race = census_race.copy()

#Filter out gender data and irrelevant columns

census_state_race = census_state_race.loc[census_state_race['Unnamed: 1'].isin(['Total',
                                                                                'White non-Hispanic alone',
                                                                                'Black alone',
                                                                                'Hispanic (of any race)',
                                                                                'Asian alone'])]
census_state_race = census_state_race.iloc[5: , [0, 1, 3]]
census_state_race.columns = ['Area', 'Race', 'Population (in thousands)']
census_state_race.sort_values(['Area', 'Race'],  inplace=True)

In [6]:
#Load the marginal race + gender data for each race, taken from:
#https://www2.census.gov/programs-surveys/cps/tables/p20/580/table02_3.xls
#https://www2.census.gov/programs-surveys/cps/tables/p20/580/table02_4.xls
#https://www2.census.gov/programs-surveys/cps/tables/p20/580/table02_6.xls


census_white = pd.read_excel('demographics/table02_3.xls')
census_black = pd.read_excel('demographics/table02_4.xls')
census_hispanic = pd.read_excel('demographics/table02_6.xls')

In [7]:
#Load the marginal education + gender data for each race, taken from:
#https://www2.census.gov/programs-surveys/cps/tables/p20/580/table05_1.xls


census_edu_gender = pd.read_excel('demographics/table05_1.xls')

In [8]:
#Load the state data, taken from:
#https://www2.census.gov/programs-surveys/cps/tables/p20/580/table04a.xls


census_state = pd.read_excel('demographics/table04a.xls')

#Convert state names from upper case to title case (only the first letter is capitalized)

census_state.iloc[5:56, 0] = census_state.iloc[5:56, 0].str.title()

#Change "District Of Columbia" to "District of Columbia" to match the survey data

census_state.iloc[13, 0] = 'District of Columbia'

In [9]:
#Calculate the frequencies for gender, race, and age

gender_freq = pd.Series(data=[census_age_gender.iloc[149, 3],
                              census_age_gender.iloc[77, 3]],
                        index=['female', 'male'])

race_freq = pd.Series(data=[census_race.iloc[8, 3],
                            census_race.iloc[4, 3] - census_race.iloc[[8, 9, 11], 3].sum(),
                            census_race.iloc[11, 3],
                            census_race.iloc[9, 3]],
                      index=['white', 'other', 'hispanic', 'black'])

age_freq = pd.Series(data=[census_age_gender.iloc[6, 3],
                           census_age_gender.iloc[7, 3],
                           census_age_gender.iloc[8, 3],
                           census_age_gender.iloc[9, 3],
                           census_age_gender.iloc[10:13, 3].sum()],
                     index=['18 - 24', '25 - 34', '35 - 44', '45 - 54', '> 54'])

edu_freq = pd.Series(data=[census_edu_gender.iloc[6:10, 3].sum(),
                           census_edu_gender.iloc[10:12, 3].sum()],
                     index=['bachelors', 'no bachelors'])

state_freq = census_state.iloc[5:56, 2]
state_freq.index = census_state.iloc[5:56, 0]

In [10]:
#Group the data by race and gender

race_gender_freq = common_data.groupby(['Race', 'Gender']).size()

#Replace each marginal frequency cell with data taken from the Census Bureau data

race_gender_freq['white'] = census_white.iloc[[11, 17], 3]
race_gender_freq['black'] = census_black.iloc[[11, 17], 3]
race_gender_freq['hispanic'] = census_hispanic.iloc[[11, 17], 3]

#Add the marginal frequencies from the white, black, and hispanic populations together

non_other_gender = census_hispanic.iloc[[11, 17], 3] + census_black.iloc[[11, 17], 3] + census_white.iloc[[11, 17], 3]
non_other_gender.index = ['female', 'male']

#Find the marginal frequencies for race "other" by subtracting the "non-other" marginal frequencies from the gender totals

race_gender_freq['other'] = gender_freq - non_other_gender

In [11]:
#Group the sample data by age and gender

age_gender_freq = common_data.groupby(['Age', 'Gender']).size()

#Replace each marginal frequency cell with data taken from the Census Bureau data

age_gender_freq.loc['18 - 24'] = [census_age_gender.iloc[150, 3], census_age_gender.iloc[78, 3]]
age_gender_freq.loc['25 - 34'] = [census_age_gender.iloc[151, 3], census_age_gender.iloc[79, 3]]
age_gender_freq.loc['35 - 44'] = [census_age_gender.iloc[152, 3], census_age_gender.iloc[80, 3]]
age_gender_freq.loc['45 - 54'] = [census_age_gender.iloc[153, 3], census_age_gender.iloc[81, 3]]

#Combine the marginal frequencies for 55-64, 65-74, and >75 to form the >54 marginal frequencies

age_gender_freq.loc['> 54'] = [census_age_gender.iloc[154:157, 3].sum(),
                    census_age_gender.iloc[82:85, 3].sum()]

In [12]:
#Group the sample data by education and gender

edu_gender_freq = common_data.groupby(['Education', 'Gender']).size()

#Combine the marginal frequencies for "Less than 9th grade" to "Some college or associate degree" to form the "no bachelors" marginal frequencies

edu_gender_freq.loc['bachelors'] = [census_edu_gender.iloc[24:26, 3].sum(),
                                    census_edu_gender.iloc[17:19, 3].sum()]

#Combine the marginal frequencies for "Bachelor's degree" and "Advanced degree" to form the "bachelors" marginal frequencies

edu_gender_freq.loc['no bachelors'] = [census_edu_gender.iloc[20:24, 3].sum(),
                                       census_edu_gender.iloc[13:17, 3].sum()]

In [13]:
#Group the sample data by state and gender

gender_state_freq = common_data.groupby(['Area', 'Gender']).size()

#Replace the counts in the aggregated table with the Census counts

census_state_gender = census_state_gender.iloc[:, 2]
census_state_gender.index = gender_state_freq.index
gender_state_freq = census_state_gender.copy()

In [14]:
#Calculate the population count for the race "other" for each state

census_state_race.loc[census_state_race['Race'] == 'Asian alone', 'Race'] = 'other'
census_state_race.reset_index(drop=True, inplace=True)

for row in census_state_race.iterrows():
    if row[0]%5 == 0:
        non_other = census_state_race.iloc[[row[0] + 1, row[0] + 2, row[0] + 4], 2].sum()
        total = census_state_race.iloc[row[0] + 3, 2]
        row[1]['Population (in thousands)'] = total - non_other
        
#Drop the population total rows for each state

census_state_race = census_state_race.loc[census_state_race['Race'] != 'Total']

#Rename the race column values to match the survey data

census_state_race.loc[census_state_race['Race'] == 'Black alone', 'Race'] = 'black'
census_state_race.loc[census_state_race['Race'] == 'Hispanic (of any race)', 'Race'] = 'hispanic'
census_state_race.loc[census_state_race['Race'] == 'White non-Hispanic alone', 'Race'] = 'white'

census_state_race.sort_values(['Area', 'Race'], inplace=True)

In [ ]:
#Enumerate the each possible combination of state and race

marginals = [marginal for marginal in product(census_state_race['Area'].unique(), census_state_race['Race'].unique())]

#Index the dataframe by state and race

census_state_race = census_state_race.iloc[:, 2]
index = pd.MultiIndex.from_tuples(marginals, names=['Area', 'Race'])
race_state_freq = pd.Series(census_state_race.values, index=index)

In [ ]:
#Create a list of the marginal/joint frequencies obtained from the census data

aggregates = [gender_freq,
              race_freq,
              age_freq,
              state_freq,
              age_gender_freq,
              race_gender_freq,
              edu_gender_freq,
              gender_state_freq,
#              race_state_freq
              ]

#Create a list of column names that correspond to the frequency tables in the previous list

dimensions = [['Gender'],
              ['Race'],
              ['Age'],
              ['Area'],
              ['Age', 'Gender'],
              ['Race', 'Gender'],
              ['Education', 'Gender'],
              ['Area', 'Gender'],
#              ['Area', 'Race']
             ]

#Perform raking on the demographic data up to the specified maximum number of iterations

IPF = ipfn.ipfn(freqs, aggregates, dimensions, max_iteration=5000)
df = IPF.iteration()

df.columns = ['Area', 'Race', 'Gender', 'Education', 'Age', 'Population (in thousands)']
df.to_csv('python_raking_race_gender_age_edu_state.csv', 
          columns=['Area', 'Race', 'Gender', 'Education', 'Age', 'Population (in thousands)'],
          index=False)
print(df)
['Area', 'Gender', 'Race', 'Age', 'Education', 'total']

/home/handsomemachine/anaconda3/envs/MSR/lib/python3.6/site-packages/pandas/core/indexing.py:1325: PerformanceWarning: indexing past lexsort depth may impact performance.
  return self._getitem_tuple(key)
/home/handsomemachine/anaconda3/envs/MSR/lib/python3.6/site-packages/ipykernel/zmqshell.py:533: PerformanceWarning: indexing past lexsort depth may impact performance.
  return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
/home/handsomemachine/anaconda3/envs/MSR/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2802: PerformanceWarning: indexing past lexsort depth may impact performance.
  if self.run_code(code, result):

In [ ]:
crosstab = pd.crosstab(index=[df['Age'], df['Gender']], columns=df['Race'],
                       values=df['Population (in thousands)'], aggfunc='sum')
crosstab.to_csv('python_raking_crosstab_state.csv')